
/*  */
body {
    background-image: url('/assets/Img/agregarPeli.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    color: white;
}

.nav-link {
    color: white;
}

form label {

    color: #2f2f2f;
    font-weight: bold;


}
.footer {
    position:static;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 300px;
}

/* Custom CSS for the table */
.movie-table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
}

.movie-table th, .movie-table td {
    border: 1px solid #000;
    padding: 10px;
}

.movie-table th {
    background-color: gray;
    color: rgb(7, 6, 6);
}

.movie-table tr:nth-child(even) {
    background-color: white;
    color: #000;
}

.movie-table tr:nth-child(odd) {
    background-color: #fefefe;
    color: #000000;
}