<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista Pelicula</title>
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <!-- Header -->
        <div class="row mt-4">
            <div class="col-12">
                <img src="assets/Img/logo_tmc.png" alt="Movie Catalog Logo" class="img-fluid">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                      <a class="nav-link active" href=" ">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="list-movies">Ver Catálogo</a>
                    </li>                  
                </ul>
            </div>
        </div>
        <!-- Body -->
        <div class="row mt-4">
            <div class="col-12">
                <h4>Vista: Detalles Película</h4>
            </div>
        </div>
        <!-- Movie Table -->
        <br>
        <a href="list-movies"style="margin-left:15px;"  class="btn btn-warning">Regresar</a>    
        <button type="button" style="margin-left:15px;" class="btn btn-danger">Eliminar</button>
        <button type="button" style="margin-left:15px;" class="btn btn-success">Editar</button>
        <div class="row mt-4">
            <div class="col-12">
                <table class="movie-table">
                    <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>Imagen</th>
                        <th>Año</th>
                        <th>Sinopsis</th>
                    </tr> 
                    <tr >
                        <td> </td>
                        <td> </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>                  
                </table>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <footer>
                <p>&copy;  <br>Alumno: Yesica Villalvazo <br>yesica.villalvazoudgvirtual.udg.mx</p>
            </footer>
        </div>
    </div>

    <!-- Link to Bootstrap JS and jQuery -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

